.container{
    margin-left: 10em !important;
}

.login-image {
    border-radius: 1rem 0 0 1rem;
    height: 100%;
    width: 130%;
}

#key-btn{
    width: 100%;
    background-color: rgb(107, 94, 199);
}